.plakkr-header {
  background-color: $primary-color;
  min-height: $general-height;
      display: flex;
}

// .mdl-layout__drawer-button{
//   line-height: $general-height;
//   margin: 2px 12px;
// }

.mdl-layout__title,
.mdl-layout-title {
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 27px;
  padding-left: 5px;
}

.plakkr-setting {
  position: relative;

  .mdl-button {
    background-color: $primary-color;
    background-image: url('../images/50x50_white.png');
    background-position: 50% 45%;
    background-size: 35px;
    opacity: 1;
  }

  .material-icons {
    @include rounded-corner(50%);
    background-color: $primary-color;
    font-size: inherit;
    left: 23px;
    padding: 1px;
    position: absolute;
    top: 24px;
  }
}

.logo {
  @include rounded-corner(50%);
  background-color: $white;
  height: 50px;
  position: absolute;
  width: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  top: 2px;
  z-index: 30;
}

// .center-logo {
//   left: calc(50% - 65px);
//   position: absolute;
//   top: 0;

//   .logo {
//     box-shadow: 1px 1px 4px $grey1;
//     height: 60px;
//     width: 60px;
//   }

//   .mdl-layout-title {
//     color: $grey1;
//     font-size: 1.3em;
//     top: 70px;
//   }
// }

.prelogin {
  .logo {left: 15px;}
  .mdl-layout__header-row {padding: 0 16px 0 30px;}
}

//  ********
//  * MOBILE FIRST DEVELOPMENT SETTINGS
//  *
@media only screen and (min-width: 320px) {
  .top-right-links__header {display: none;}
}

@media only screen and (min-width: 480px) {
  .logo {left: 45px;}

  .plakkr-header .mdl-layout__header-row {
    padding: 0 10px 0 100px;
  }
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {
  .plakkr-header {
    background-color: $primary-color;
    min-height: $general-height;

    .mdl-layout__header-row {
      height: 55px;
      padding: 0 10px 0 80px;

      .mdl-navigation__link {
        line-height: $general-height;
        opacity: 1;
        padding: 0 10px;
        cursor: pointer;
      }

      .mdl-textfield {
        padding: 17px 0;
      }
    }
  }

  .logo {left: 20px;}

  .top-right-links__header {display: flex;}
}

@media only screen and (min-width: 1100px) {

}

@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1600px) {

}
