.opened_feed_right_sidebar{

  h5 {
    margin-top: 8px;

    .mdl-button {
      color: #757575;
    }
  }

  .mdl-tabs__tab {
  	padding: 0 12px 0 12px;
    width: 100%;
  }

}

.media-outer-container {
  border-radius: 2px;
  margin-bottom: 15px;
}
