.follower-component {
	position: relative;

	.media-ribbon {
		background-color: $primary-color;
		display: flex;
		flex-direction: column;
		padding: 10px 5px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0px;
		width: 30px;
	}

	.media-ribbon-section > .material-icons {
		color: $white;
	    font-size: 20px;
	}

	.media-ribbon-triangle, .media-ribbon-bottom-cover {
		background-color: $white;
		height: 30px;
	}

	.media-ribbon-triangle {
		margin-top: 10px;
		transform: rotate(45deg);
		width: 30px;
	}

	.media-ribbon-bottom-cover {
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
	}
}
