.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;

  &.carousel-slider {
    height: 0;
    left: 0;
    top: 0;

    .carousel-fixed-item {
      bottom: 20px;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 1;

      &.with-indicators {
        bottom: 68px;
      }
    }
  }

  .carousel-item {
    height: 300px;
    left: 0;
    min-height: 400px;
    position: absolute;
    top: 0;
    width: 450px;

    h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }

    p {
      font-size: 15px;
    }

    > img {
      -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
      height: inherit;
      width: inherit;
    }
  }

  .indicators {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;

    .indicator-item {
      background-color: rgba(255, 255, 255, .5);
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      height: 8px;
      margin: 24px 4px;
      position: relative;
      transition: background-color .3s;
      width: 8px;

      &.active {
        background-color: $white;
      }
    }
  }

  &.scrolling .carousel-item .materialboxed,
  .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
  }
}

.carousel-options {
  bottom: 25%;
  position: absolute;
  text-align: center;
  width: 100%;

  > div {
    float: right;
    padding: 5px 8px;
  }
}

.carousel-image {
  background-size: cover;
  height: 300px;
  width: 100%;
}
